.container {
  width: 90%;
  margin: 0 auto;
}

header .container {
  display: flex;
  justify-content: space-around;
}
header .container nav a {
  margin-right: 20px;
  color: #2a73dd;
}/*# sourceMappingURL=index.css.map */