$color-blue-1:#2a73dd;

.container{
width: 90%;
margin: 0 auto;
}
header{
    .container{
        display: flex;
        justify-content: space-around;
        nav{
            a{
                margin-right: 20px;
                color: $color-blue-1;
            }
        }
    }
}